@font-face {
    font-family: "Avara";
    src: url("Avara-Bold.woff2") format("woff2");
    font-weight: 700;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica   Neue', sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height:auto;
}

p{
    margin: 0;
    margin-bottom: 1.5em;
}

.header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(240, 240, 240, 0.877);
    padding: 4px 32px;
    border-radius: 50px;
    margin-top: 24px;
    margin-bottom: 24px;
    position: sticky;
    top:24px;
    backdrop-filter: blur(10px);
}
.header a{
    text-decoration: none;
    color:currentColor;
}

.header .current{
    font-weight: 700;
}

.header h1{
    font-family: "Avara", sans-serif;
    font-size: clamp(16px, 4vw, 32px);
}

.header-nav{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    gap: 16px;
}

.nav-projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
}

.project{
    color:black;
    text-decoration: none;

}

/* page project */
.information{
    max-width: 800px;
    margin: 0 auto;   
}

.gallery{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
}

@media (min-width:800px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}
